@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto+Slab&display=swap');
a {
color: lightgreen;
text-decoration: none;
}

a:hover {
background-color: green;
}
*{
  margin: 10px;
  padding: 0px;
  font-family: 'Roboto Slab', serif;
}
.header {
  position: relative;
  text-align: center;
  color: white;
}

.topnav {
  padding: 1px;
  background-color: #333;
}
.maps{
  float: right;
}
.header-text{
  position: absolute;
  bottom: 16px;
  left: 32px;
  font-size: 100px;
  color: lightgreen;
}
.text{
  font-size: 24px;
  text-align: center;
  background-color: lightgrey;
  width:60%;
  padding-top: 1%;
  padding-bottom: 12%;
}
b{
  color: green;
}
.metis{
  float:right;
}
.text-Home{
  font-size: 50px;
  font-family: 'Merriweather', serif;
}
